@font-face {
    font-family: 'Reckless Neue TRIAL';
    src: url('RecklessNeueTRIAL-BoldItalic.eot');
    src: url('RecklessNeueTRIAL-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('RecklessNeueTRIAL-BoldItalic.woff2') format('woff2'),
        url('RecklessNeueTRIAL-BoldItalic.woff') format('woff'),
        url('RecklessNeueTRIAL-BoldItalic.ttf') format('truetype'),
        url('RecklessNeueTRIAL-BoldItalic.svg#RecklessNeueTRIAL-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Reckless Neue TRIAL';
    src: url('RecklessNeueTRIAL-RegularItalic.eot');
    src: url('RecklessNeueTRIAL-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('RecklessNeueTRIAL-RegularItalic.woff2') format('woff2'),
        url('RecklessNeueTRIAL-RegularItalic.woff') format('woff'),
        url('RecklessNeueTRIAL-RegularItalic.ttf') format('truetype'),
        url('RecklessNeueTRIAL-RegularItalic.svg#RecklessNeueTRIAL-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Reckless Neue TRIAL';
    src: url('RecklessNeueTRIAL-SemiBoldItalic.eot');
    src: url('RecklessNeueTRIAL-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('RecklessNeueTRIAL-SemiBoldItalic.woff2') format('woff2'),
        url('RecklessNeueTRIAL-SemiBoldItalic.woff') format('woff'),
        url('RecklessNeueTRIAL-SemiBoldItalic.ttf') format('truetype'),
        url('RecklessNeueTRIAL-SemiBoldItalic.svg#RecklessNeueTRIAL-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Reckless Neue TRIAL';
    src: url('RecklessNeueTRIAL-SemiBold.eot');
    src: url('RecklessNeueTRIAL-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('RecklessNeueTRIAL-SemiBold.woff2') format('woff2'),
        url('RecklessNeueTRIAL-SemiBold.woff') format('woff'),
        url('RecklessNeueTRIAL-SemiBold.ttf') format('truetype'),
        url('RecklessNeueTRIAL-SemiBold.svg#RecklessNeueTRIAL-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Reckless Neue TRIAL';
    src: url('RecklessNeueTRIAL-MediumItalic.eot');
    src: url('RecklessNeueTRIAL-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('RecklessNeueTRIAL-MediumItalic.woff2') format('woff2'),
        url('RecklessNeueTRIAL-MediumItalic.woff') format('woff'),
        url('RecklessNeueTRIAL-MediumItalic.ttf') format('truetype'),
        url('RecklessNeueTRIAL-MediumItalic.svg#RecklessNeueTRIAL-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Reckless Neue TRIAL';
    src: url('RecklessNeueTRIAL-Heavy.eot');
    src: url('RecklessNeueTRIAL-Heavy.eot?#iefix') format('embedded-opentype'),
        url('RecklessNeueTRIAL-Heavy.woff2') format('woff2'),
        url('RecklessNeueTRIAL-Heavy.woff') format('woff'),
        url('RecklessNeueTRIAL-Heavy.ttf') format('truetype'),
        url('RecklessNeueTRIAL-Heavy.svg#RecklessNeueTRIAL-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Reckless Neue TRIAL';
    src: url('RecklessNeueTRIAL-ThinItalic.eot');
    src: url('RecklessNeueTRIAL-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('RecklessNeueTRIAL-ThinItalic.woff2') format('woff2'),
        url('RecklessNeueTRIAL-ThinItalic.woff') format('woff'),
        url('RecklessNeueTRIAL-ThinItalic.ttf') format('truetype'),
        url('RecklessNeueTRIAL-ThinItalic.svg#RecklessNeueTRIAL-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Reckless Neue TRIAL';
    src: url('RecklessNeueTRIAL-LightItalic.eot');
    src: url('RecklessNeueTRIAL-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('RecklessNeueTRIAL-LightItalic.woff2') format('woff2'),
        url('RecklessNeueTRIAL-LightItalic.woff') format('woff'),
        url('RecklessNeueTRIAL-LightItalic.ttf') format('truetype'),
        url('RecklessNeueTRIAL-LightItalic.svg#RecklessNeueTRIAL-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Reckless Neue TRIAL';
    src: url('RecklessNeueTRIAL-Light.eot');
    src: url('RecklessNeueTRIAL-Light.eot?#iefix') format('embedded-opentype'),
        url('RecklessNeueTRIAL-Light.woff2') format('woff2'),
        url('RecklessNeueTRIAL-Light.woff') format('woff'),
        url('RecklessNeueTRIAL-Light.ttf') format('truetype'),
        url('RecklessNeueTRIAL-Light.svg#RecklessNeueTRIAL-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Reckless Neue TRIAL Book';
    src: url('RecklessNeueTRIAL-BookItalic.eot');
    src: url('RecklessNeueTRIAL-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('RecklessNeueTRIAL-BookItalic.woff2') format('woff2'),
        url('RecklessNeueTRIAL-BookItalic.woff') format('woff'),
        url('RecklessNeueTRIAL-BookItalic.ttf') format('truetype'),
        url('RecklessNeueTRIAL-BookItalic.svg#RecklessNeueTRIAL-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Reckless Neue TRIAL Book';
    src: url('RecklessNeueTRIAL-Book.eot');
    src: url('RecklessNeueTRIAL-Book.eot?#iefix') format('embedded-opentype'),
        url('RecklessNeueTRIAL-Book.woff2') format('woff2'),
        url('RecklessNeueTRIAL-Book.woff') format('woff'),
        url('RecklessNeueTRIAL-Book.ttf') format('truetype'),
        url('RecklessNeueTRIAL-Book.svg#RecklessNeueTRIAL-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Reckless Neue TRIAL';
    src: url('RecklessNeueTRIAL-Medium.eot');
    src: url('RecklessNeueTRIAL-Medium.eot?#iefix') format('embedded-opentype'),
        url('RecklessNeueTRIAL-Medium.woff2') format('woff2'),
        url('RecklessNeueTRIAL-Medium.woff') format('woff'),
        url('RecklessNeueTRIAL-Medium.ttf') format('truetype'),
        url('RecklessNeueTRIAL-Medium.svg#RecklessNeueTRIAL-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Reckless Neue TRIAL';
    src: url('RecklessNeueTRIAL-HeavyItalic.eot');
    src: url('RecklessNeueTRIAL-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('RecklessNeueTRIAL-HeavyItalic.woff2') format('woff2'),
        url('RecklessNeueTRIAL-HeavyItalic.woff') format('woff'),
        url('RecklessNeueTRIAL-HeavyItalic.ttf') format('truetype'),
        url('RecklessNeueTRIAL-HeavyItalic.svg#RecklessNeueTRIAL-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Reckless Neue TRIAL';
    src: url('RecklessNeueTRIAL-Thin.eot');
    src: url('RecklessNeueTRIAL-Thin.eot?#iefix') format('embedded-opentype'),
        url('RecklessNeueTRIAL-Thin.woff2') format('woff2'),
        url('RecklessNeueTRIAL-Thin.woff') format('woff'),
        url('RecklessNeueTRIAL-Thin.ttf') format('truetype'),
        url('RecklessNeueTRIAL-Thin.svg#RecklessNeueTRIAL-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Reckless Neue TRIAL';
    src: url('RecklessNeueTRIAL-Bold.eot');
    src: url('RecklessNeueTRIAL-Bold.eot?#iefix') format('embedded-opentype'),
        url('RecklessNeueTRIAL-Bold.woff2') format('woff2'),
        url('RecklessNeueTRIAL-Bold.woff') format('woff'),
        url('RecklessNeueTRIAL-Bold.ttf') format('truetype'),
        url('RecklessNeueTRIAL-Bold.svg#RecklessNeueTRIAL-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Reckless Neue TRIAL';
    src: url('RecklessNeueTRIAL-Regular.eot');
    src: url('RecklessNeueTRIAL-Regular.eot?#iefix') format('embedded-opentype'),
        url('RecklessNeueTRIAL-Regular.woff2') format('woff2'),
        url('RecklessNeueTRIAL-Regular.woff') format('woff'),
        url('RecklessNeueTRIAL-Regular.ttf') format('truetype'),
        url('RecklessNeueTRIAL-Regular.svg#RecklessNeueTRIAL-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

